<h1>Article</h1>

<p>Title: <%= @article.title %></p><br>
<p>Content: <%= @article.content %></p><br>

<form method="post" action="/articles/<%= @article.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete">
</form>